version: "3.9"

services:

  product-service:
    build: ./product-service
    container_name: product-service
    ports:
      - "5001:5001"

  order-service:
    build: ./order-service
    container_name: order-service
    ports:
      - "5002:5002"

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "5000:5000"
    depends_on:
      - product-service